# Dependencies
node_modules/
.venv/

# Env
.env

# Build outputs
dist/
build/
*.egg-info/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
